<!DOCTYPE html>
<html>
<head>
  <title>P45Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<ul>
			<li>StoryTellers</li>
			<li><div id="motto"><i>"Forcing good user stories through public humiliation"</i></div></li>
		</ul>
	</div>	

<%= yield %>

</body>
</html>
